.navbar-brand{
    padding-right: 1rem;
}
.nav-item{
    padding-right: 1rem;
}

body{
    background-color: rgb(34, 32, 32);
}

.navbar{
    width: 100%;
    position: fixed;
}

.btn:hover{
    color: rgb(211, 211, 211);
    background-color: black;
    border: 2px solid rgb(255, 193, 7);
}